# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr: none
trigger:
  branches:
    include:
      - main

resources:
  repositories:
    - repository: sys_kubernetes_templates
      type: bitbucket
      endpoint: Bitbucket - sistemas
      name: situm/sys-kubernetes-templates.git
      ref: master
    - repository: web_developers
      type: bitbucket
      endpoint: Bitbucket - sistemas
      name: situm/web-developers.git
      ref: master

variables:
  - group: Passwords
  - group: SoftwareVersions
  - group: ChangelogIds
  - group: Bitbucket


pool:
  vmImage: $(ubuntuVersion)

steps:

  - checkout: self
    fetchDepth: "3"
    fetchTags: false
    persistCredentials: true
    path: situm-sdk-js
    displayName: Get Web Definitions

  - task: UseNode@1
    inputs:
      version: $(nodeVersion)

  - bash: |

      version=$(grep '"version": "[0-9]\+\.[0-9]\+\.[0-9]\+",' $(Pipeline.Workspace)/situm-sdk-js/package.json)
      echo -e "[+] Get variables:"
      echo -e "\t[+] Version: $version"

    displayName: Get variables

  - bash: |
      set -euo pipefail

      cd $(Pipeline.Workspace)/situm-sdk-js

      echo -e "\n[+] Configure NPM login"
      echo "//registry.npmjs.org/:_authToken=$(NPM_WEB_TOKEN)" > ~/.npmrc

      echo -e "\n[+] Enable corepack"
      echo -e "##[command] corepack enable\n"

      corepack enable

      echo -e "\n[+] Install dependencies"
      echo -e "##[command] yarn install\n"

      yarn install


      echo -e "\n[+] Execute reset-har command \n"
      echo -e "##[command] yarn run-s reset-hard \n"

      yarn run-s reset-hard

      echo -e "\n[+] Build Library"
      echo -e "##[command] yarn build \n"

      yarn build

    displayName: Build library

  - bash: |

      echo -e "\n [+] Tag repository"

      echo -e "\n[+] Pack \n"
      echo -e "##[command] yarn npm pack\n"

      yarn npm

    displayName: Prepare
